
/* projet final */
/* par Hadia Blidi */
/* Le 19-06-2020 */
@font-face{
    src: url("../fonts/Aladin-Regular");
    font-family: Aladin-Regular;

}
@font-face {
    src: url("../fonts/YesevaOne-Regular");
    font-family: YesevaOne-Regular;
}





input[type="checkbox"]{
    height: 50px;
    width: 50px;
    -webkit-appearance: none;
    border-radius: 139px;
    background: linear-gradient(145deg, #d8d8d4, #fffffb);
    box-shadow:  20px 20px 66px #ccccc8,
    -20px -20px 66px #ffffff;

}
input[type="checkbox"].icon{
    height: 150px;
    width: 150px;
    border-radius: 139px;
    background: linear-gradient(145deg, #5d714a, #6e8758);
    box-shadow:  20px 20px 66px #586b46,
    -20px -20px 66px #76915e;



}


.contact{
    background-image: url("../image/image4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1920px;
    height: 1080px;
}
.contact p{
    font-family: Roboto;
    font-size: 1.5rem;
    color: black;
    padding-left: 950px;
}
.contact h1{
    font-family: Aladin;
    text-align: center;
    font-size: 5rem;
    color: #1c3405;
    padding-top:500px;
    padding-left:350px;
}
.cart_con{
    background-color: #ffffff;
    overflow-x: visible;
    overflow-y: visible;
    box-shadow: 0px 26px 90px -14px rgba(0,71,214,0.18);
    padding-bottom: 20px;
}

.caption-content{
    background-color: rgba(255, 255, 255, 0.77);
    border: 0px solid #ffffff;
    padding-top: 40px;

}

.interieur h1{
    font-family: Aladin;
    text-align: center;
    font-size: 5rem;
    color: #1c3405;
    padding-top:650px;
    padding-right: 850px;
}
.exterieur h1{
    font-family: Aladin;
    text-align: center;
    font-size: 5rem;
    color: #1c3405;
    padding-top:650px;
    padding-right: 850px;
}
.titreSalon{
    font-family: Aladin;
    font-size: 3rem;
    text-align: center;
    color: #1c3405;

}
.textSalon{
    text-align: justify;
    font-family: Roboto;
    font-size: 1.5rem;
    padding-top: 180px;

}




.services{
    background-color: #5d714a;
}
.barricon{
    background-color: #677E52;
    padding-top: 150px;
    padding-bottom: 150px;
}
.titre{

    font-size: 5rem;
    bottom: 300px;
    color: #63513e;
    text-align: center;

}

.text {
    font-family: YesevaOne-Regular;
     position: absolute;
     bottom:400px;
     width: 100%;
     padding-right: 900px;

 }

h1{

    text-align: center;
    font-size: 2rem;
    color: #1c3405;
    text-align: center;

  }
h2{
    font-size: 1rem;
    font-family: Roboto;

}
h3{
    font-family: Roboto;
    font-size: 1.5rem;

}
h5{
    font-family: Aladin;
    font-size: 4.5rem;
    text-align: center;
    color: #132402;
    padding-bottom: 30px;

}

.services{
    font-family: Aladin;
    font-size: 3.5rem;
    color:#132402;
}

.troisimage{
    padding-right: 20px;
    padding-top: 100px;
  }
.icon a:hover{
    color: #6cf102;
}
a{
    color: #324026;
}

.icon{
    text-align: center;
    color: #314226;
    font-size: 3rem;

}
.ficon{
    font-size: 4rem;
    margin-left: -52px;
    z-index: 9;
    margin-right: -53px;
}
a:hover{
    color: #012d04;
}
.position{
    margin-top: -115px;
    margin-bottom: -25px;
}


.parallax {
    /* The image used */
    background-image: url("../image/b566aa16e2a3de5041e47af7a67d331a.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.menu_effects a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 0px;
    background: #B0CC99;
    /*border: 1px solid #000;*/
    content: '';
    margin-right: 10px;
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.8s, -webkit-transform 0.2s;
    -moz-transition: height 0.3s, opacity 0.8s, -moz-transform 0.2s;
    transition: height 0.3s, opacity 0.8s, transform 0.2s;
    border-radius: 25px;
}

.menu_effects a:hover::after,
.menu_effects a:focus::after {
    height: 25px;
    opacity: 1;
}
/* Menu Current Page Highlights */
.current_item::after,
.current-project-ancestor::after,
.current_page_parent::after,
.current-menu-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: #677E52;
    /*border: 1px solid #000;*/
    content: '';
    opacity: 1;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

.current_item:hover::after,
.current-project-ancestor:hover::after,
.current_page_parent:hover::after,
.current-menu-item:hover::after {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    opacity: 0.99;
    background: #4f5531;
}

/* Menu set up */
.menu {
    position: relative;
    list-style: none;
    z-index: 50;

}
.menu li {
    position: relative;
    float: left;
    padding-right: 20px;
}

.menu ul {
    position: absolute;
    visibility: hidden;
    list-style: none;
    z-index: 110;
    display: table;
}
.menu ul li {
    clear: both;

}
.menu a {

    line-height: 80px;
    text-decoration: none;
    font-size: 20px;

}
.menu ul ul {
    position: absolute;
    top: 0;
}
.menu li:hover ul, .menu a:hover ul, .menu :hover ul :hover ul, .menu :hover ul :hover ul :hover ul {
    visibility: visible;
}
.menu :hover ul ul, .menu :hover ul :hover ul ul {
    visibility: hidden;
}
.menu ul ul, .menu :hover ul :hover ul {
    left: 150px;
}
.menu a {
    padding-right: 10px;
    padding-top: 15px;
    margin-top: 5px;
}
#menu-main-menu {
    float:right;
    padding: 10px 40px 0 0;

}
#menu-main-menu li a {
    font-family: "Yeseva One";
    color: #f6f8f4;
    text-decoration: none;

}
.fixed-top{
    background-color: #244524;
}

/*menu mobil */
/* Main menu positionning */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #859235;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
    transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
    transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
    transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
    transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}
.main-nav a {
    display: block;
    padding: 12px 0;
    color: #f6f7f8;
    font-size: 1.4em;
    text-decoration: none;
    font-family: "Yeseva One";
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}
.open-main-nav:focus {
    outline: none;
}
.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #122b02;
    transform: skew(5deg);
    transition: all .275s;
}

.burger:after,
.burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #122b02;
    transition: all .275s;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}














/* pies de page  */



footer{
  background-image: url("../image/footer.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

}
.footer{
    padding-top: 224px;
}
.but-soum-foot{
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 125px;
    background: linear-gradient(45deg, #27361d, #2e4022);
    box-shadow:  6px -6px 12px #23311a,
    -6px 6px 12px #334726;
    z-index: 99;
}
.but-soum-foot h2{
    color: white;
}
.svg{
    padding-bottom: 10px;
    z-index: -9;
}

.titrefooter{
    font-family:"Yeseva One";
    font-size: 1.5rem;
    color: #fdfbfb;
}

.adresse ul, li {
    font-family: "Montserrat";
    font-size: 18px;
   list-style: none;
    color: #fafcfa;


}
.fa-cart-plus{
    font-size: 19px;
    color: #f6f6f6;

}
 .fab{
    font-size: 50px;
    z-index: auto;
    color: #fdfcfc;

}
 .fa-angle-double-up{
     font-size: 33px;
 }

/* animation arbre */
.arbre {
    background: hsl(103, 14%, 81%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, hsla(45, 55%, 22%, 0.5), hsl(133, 78%, 11%));
    background-image:-moz-linear-gradient(to right top, hsla(57, 78%, 25%, 0.5), hsl(32, 65%, 21%));
    margin: 0;
    padding: 0;
    overflow: hidden;

}
iframe{
    width: 640px;
    height: 360px;

}


/* animation image background */

* {
    margin: 0;
    padding: 0;

}
.main {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.d1 {
    position: absolute;
    background-image: url(../image/plants-45.jpg);
    background-size: 2700px 1500px;

    height: 30vh;
    width: 15vw;

    background-position: 0 50%;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
}
.d2 {
    position: absolute;
    background-image: url(../image/plants-4572694.jpg);
    background-size: 2700px 1500px;

    height: 50vh;
    width: 25vw;

    background-position: -10vw 50%;
    left: 10vw;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
}
.d3 {
    position: absolute;
    background-image: url(../image/plants-4572694.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;

    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;

    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd3 10s 2;
    animation-delay: 4s;
}
.d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(../image/plants-4572694.jpg);
    background-size: 2700px 1500px;

    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
}
.d1 h5{
    font-family: Aladin;
    font-size: 4.5rem;
    text-align: center;
    color: #284b03;
    padding-bottom: 100px;
    padding-top: 80px;
    padding-left: 20px;

}
.bacimage{
    padding-top: 150px;
    padding-bottom: 100px;
}

@keyframes dd1 {
    0% {
    }
    50% {
        width: 95vw;
    }
}
@keyframes dd12 {
    0% {
    }
    50% {
        background-position: Calc(0vw - 40px) 50%;
    }
}
@keyframes dd2 {
    0% {
    }
    50% {
        background-position: Calc(-10vw - 40px) 50%;
    }
}
@keyframes dd3 {
    0% {
    }
    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}
@keyframes dd4 {
    0% {
    }
    50% {
        background-position: Calc(-70vw - 40px) 50%;
    }
}


@media only screen and (max-width: 320px){
    svg{
        text-align: center;
        margin-left: 50px;
    }


    .icon{
       padding-top: 50px;
    }
    .position {
        margin-top: -112px;
        margin-bottom: 75px;
    }
    .adresse ul, li{
        font-size: 1rem;
    }
    h5{
        font-size: 2rem;
    }
    .fab{
        font-size: 1.5rem;
    }
     .macrame{
        width: 250px;
        height: 250px;
    }
    footer{
        background-image: url("../image/footer2.jpg");
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;

    }
}











